In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import re
import sys
sys.path.append('../')

In [2]:
pl = pd.read_csv('./data/openpowerlifting.csv',encoding="ISO-8859-1")
m=pd.read_csv('./data/meets.csv',encoding="ISO-8859-1")

In [3]:
pl.dropna(axis=0, how = "all",inplace=True)
pl.dropna(axis=1, how = "all",inplace=True)

In [4]:
pl.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 390526 entries, 0 to 390525
Data columns (total 17 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   MeetID          390526 non-null  int64
 1   Name            390526 non-null  object
 2   Sex             390526 non-null  object
 3   Equipment       390526 non-null  object
 4   Age             148630 non-null  float64
 5   Division        374582 non-null  object
 6   BodyweightKg    388087 non-null  float64
 7   WeightClassKg   386631 non-null  object
 8   Squat4Kg        1249 non-null    float64
 9   BestSquatKg     301133 non-null  float64
 10  Bench4Kg        1991 non-null    float64
 11  BestBenchKg     360155 non-null  float64
 12  Deadlift4Kg     2836 non-null    float64
 13  BestDeadliftKg  321294 non-null  float64
 14  TotalKg         367179 non-null  float64
 15  Place           389419 non-null  object
 16  Wilks           366099 non-null  float64
dtypes: float64(10), int64(1), object(6)
memory usage: 53.6+ MB

In [5]:
# Calculates the percentage of null registers for each variable

percent_missing = round(pl.isnull().sum() * 100 / len(pl), 2)

In [6]:
percent_missing.items

<bound method Series.items of MeetID             0.00
Name               0.00
Sex                0.00
Equipment          0.00
Age               61.94
Division           4.08
BodyweightKg       0.62
WeightClassKg      1.00
Squat4Kg          99.68
BestSquatKg       22.89
Bench4Kg          99.49
BestBenchKg        7.78
Deadlift4Kg       99.27
BestDeadliftKg    17.73
TotalKg            5.98
Place              0.28
Wilks              6.25
dtype: float64>

In [7]:
for c,n in zip(percent_missing.index,percent_missing.values):
    if n>70:
        pl.drop([c], axis=1, inplace=True)

In [8]:
pl_d=pl["Division"]

In [14]:
pl_d

0           Mst 45-49
1           Mst 40-44
2         Open Senior
3         Open Senior
4          Teen 18-19
             ...
390521          Elite
390522          Elite
390523          Elite
390524          Elite
390525          Elite
Name: Division, Length: 390526, dtype: object

In [9]:
pl.drop(["Division"], axis=1,inplace=True)
pl.shape

(390526, 13)

In [10]:
pl.drop_duplicates(inplace=True)

In [12]:
pl.shape

(381117, 13)

In [13]:
pl = pl.merge(pl_d, left_index=True, right_index=True)
pl.shape

(381117, 14)

In [22]:
    m_d=m[["MeetID","Date"]]

In [27]:
pl_f

,MeetID,Name,Sex,Equipment,Age,BodyweightKg,WeightClassKg,BestSquatKg,BestBenchKg,BestDeadliftKg,TotalKg,Place,Wilks,Division,Date
0,0,Angie Belk Terry,F,Wraps,47.0,59.60,60,47.63,20.41,70.31,138.35,1,155.05,Mst 45-49,10/29/16
1,0,Dawn Bogart,F,Single-ply,42.0,58.51,60,142.88,95.25,163.29,401.42,1,456.38,Mst 40-44,10/29/16
2,0,Dawn Bogart,F,Raw,42.0,58.51,60,NaN,95.25,NaN,95.25,1,108.29,Open Senior,10/29/16
3,0,Destiny Dula,F,Raw,18.0,63.68,67.5,NaN,31.75,90.72,122.47,1,130.47,Teen 18-19,10/29/16
4,0,Courtney Norris,F,Wraps,28.0,62.41,67.5,170.10,77.11,145.15,392.36,1,424.40,Open Senior,10/29/16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381112,8552,William Barabas,M,Multi-ply,NaN,113.58,125,NaN,NaN,347.50,347.50,2,202.60,Elite,3/3/17
381113,8552,Justin Zottl,M,Multi-ply,NaN,119.02,125,NaN,NaN,322.50,322.50,3,185.77,Elite,3/3/17
381114,8552,Jake Anderson,M,Multi-ply,NaN,120.29,125,NaN,NaN,367.50,367.50,1,211.17,Elite,3/3/17
381115,8552,Jeff Bumanglag,M,Multi-ply,NaN,126.73,140,NaN,NaN,320.00,320.00,3,181.85,Elite,3/3/17
381116,8552,Shane Hammock,M,Multi-ply,NaN,129.46,140,NaN,NaN,362.50,362.50,2,205.18,Elite,3/3/17

In [23]:
m_d

      MeetID      Date
0          0  10/29/16
1          1  11/19/16
2          2    7/9/16
3          3   6/11/16
4          4   4/10/16
...      ...       ...
8548    8548    3/6/15
8549    8549    3/4/16
8550    8550    3/4/16
8551    8551    3/5/16
8552    8552    3/3/17

[8553 rows x 2 columns]

In [26]:
pl_f = pl.merge(m_d, on="MeetID")
pl_f.shape

(381117, 15)

In [33]:
col_n = list(pl_f.select_dtypes(include="object").columns) 
for col in list(pl_f.columns):
    if col in col_n:
        pl_f.fillna("UNK",inplace=True)
    else:
        pl_f.fillna(-1,inplace=True)

In [34]:
pl_f.isnull().sum()

MeetID            0
Name              0
Sex               0
Equipment         0
Age               0
BodyweightKg      0
WeightClassKg     0
BestSquatKg       0
BestBenchKg       0
BestDeadliftKg    0
TotalKg           0
Place             0
Wilks             0
Division          0
Date              0
dtype: int64

In [35]:
pl_f

,MeetID,Name,Sex,Equipment,Age,BodyweightKg,WeightClassKg,BestSquatKg,BestBenchKg,BestDeadliftKg,TotalKg,Place,Wilks,Division,Date
0,0,Angie Belk Terry,F,Wraps,47.0,59.60,60,47.63,20.41,70.31,138.35,1,155.05,Mst 45-49,10/29/16
1,0,Dawn Bogart,F,Single-ply,42.0,58.51,60,142.88,95.25,163.29,401.42,1,456.38,Mst 40-44,10/29/16
2,0,Dawn Bogart,F,Raw,42.0,58.51,60,-1.00,95.25,-1.00,95.25,1,108.29,Open Senior,10/29/16
3,0,Destiny Dula,F,Raw,18.0,63.68,67.5,-1.00,31.75,90.72,122.47,1,130.47,Teen 18-19,10/29/16
4,0,Courtney Norris,F,Wraps,28.0,62.41,67.5,170.10,77.11,145.15,392.36,1,424.40,Open Senior,10/29/16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381112,8552,William Barabas,M,Multi-ply,-1.0,113.58,125,-1.00,-1.00,347.50,347.50,2,202.60,Elite,3/3/17
381113,8552,Justin Zottl,M,Multi-ply,-1.0,119.02,125,-1.00,-1.00,322.50,322.50,3,185.77,Elite,3/3/17
381114,8552,Jake Anderson,M,Multi-ply,-1.0,120.29,125,-1.00,-1.00,367.50,367.50,1,211.17,Elite,3/3/17
381115,8552,Jeff Bumanglag,M,Multi-ply,-1.0,126.73,140,-1.00,-1.00,320.00,320.00,3,181.85,Elite,3/3/17
381116,8552,Shane Hammock,M,Multi-ply,-1.0,129.46,140,-1.00,-1.00,362.50,362.50,2,205.18,Elite,3/3/17

In [36]:
pl_f.to_csv ('./data/pl.csv')