In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import re
import sys
sys.path.append('../')

In [2]:
pl = pd.read_csv('./data/openpowerlifting.csv',encoding="ISO-8859-1")
m=pd.read_csv('./data/meets.csv',encoding="ISO-8859-1")

In [3]:
pl.dropna(axis=0, how = "all",inplace=True)
pl.dropna(axis=1, how = "all",inplace=True)

In [9]:
pl.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 390526 entries, 0 to 390525
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   MeetID          390526 non-null  int64
 1   Name            390526 non-null  object
 2   Sex             390526 non-null  object
 3   Equipment       390526 non-null  object
 4   Age             148630 non-null  float64
 5   Division        374582 non-null  object
 6   BodyweightKg    388087 non-null  float64
 7   WeightClassKg   386631 non-null  object
 8   BestSquatKg     301133 non-null  float64
 9   BestBenchKg     360155 non-null  float64
 10  BestDeadliftKg  321294 non-null  float64
 11  TotalKg         367179 non-null  float64
 12  Place           389419 non-null  object
 13  Wilks           366099 non-null  float64
dtypes: float64(7), int64(1), object(6)
memory usage: 44.7+ MB

In [6]:
# Calculates the percentage of null registers for each variable

percent_missing = round(pl.isnull().sum() * 100 / len(pl), 2)

In [7]:
percent_missing.items

<bound method Series.items of MeetID             0.00
Name               0.00
Sex                0.00
Equipment          0.00
Age               61.94
Division           4.08
BodyweightKg       0.62
WeightClassKg      1.00
BestSquatKg       22.89
BestBenchKg        7.78
BestDeadliftKg    17.73
TotalKg            5.98
Place              0.28
Wilks              6.25
dtype: float64>

In [5]:
for c,n in zip(percent_missing.index,percent_missing.values):
    if n>70:
        pl.drop([c], axis=1, inplace=True)

In [8]:
pl_d=pl["Division"]

In [14]:
pl_d

0           Mst 45-49
1           Mst 40-44
2         Open Senior
3         Open Senior
4          Teen 18-19
             ...
390521          Elite
390522          Elite
390523          Elite
390524          Elite
390525          Elite
Name: Division, Length: 390526, dtype: object

In [9]:
pl.drop(["Division"], axis=1,inplace=True)
pl.shape

In [10]:
pl.drop_duplicates(inplace=True)

In [14]:
pl.shape
pl_d.shape

(390526,)

In [12]:
pl = pl.merge(pl_d, left_index=True, right_index=True)
pl.shape

(381117, 14)

In [10]:
pl

,MeetID,Name,Sex,Equipment,Age,BodyweightKg,WeightClassKg,BestSquatKg,BestBenchKg,BestDeadliftKg,TotalKg,Place,Wilks
0,0,Angie Belk Terry,F,Wraps,47.0,59.60,60,47.63,20.41,70.31,138.35,1,155.05
1,0,Dawn Bogart,F,Single-ply,42.0,58.51,60,142.88,95.25,163.29,401.42,1,456.38
3,0,Dawn Bogart,F,Raw,42.0,58.51,60,NaN,95.25,NaN,95.25,1,108.29
4,0,Destiny Dula,F,Raw,18.0,63.68,67.5,NaN,31.75,90.72,122.47,1,130.47
5,0,Courtney Norris,F,Wraps,28.0,62.41,67.5,170.10,77.11,145.15,392.36,1,424.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...
390521,8552,William Barabas,M,Multi-ply,NaN,113.58,125,NaN,NaN,347.50,347.50,2,202.60
390522,8552,Justin Zottl,M,Multi-ply,NaN,119.02,125,NaN,NaN,322.50,322.50,3,185.77
390523,8552,Jake Anderson,M,Multi-ply,NaN,120.29,125,NaN,NaN,367.50,367.50,1,211.17
390524,8552,Jeff Bumanglag,M,Multi-ply,NaN,126.73,140,NaN,NaN,320.00,320.00,3,181.85
390525,8552,Shane Hammock,M,Multi-ply,NaN,129.46,140,NaN,NaN,362.50,362.50,2,205.18